.question-card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    /* max-width: 400px; */
    width: 200px;
    height: 200px;
    margin: 16px;
    text-align: center;
}

label.radio {
    display: block;
    text-align: left;
    padding: 8px;
    max-width: 320px;
    margin-bottom: 4px;
    font-size: 1rem;
}

label.radio+.radio {
    margin-left: 0;
}

label.radio input {
    margin-right: 12px;
}

h3.questionHeader {
    text-align: left;
    color: #f1faee;
    font-size: 1.2rem;
}

.card-content button {
    position: relative;
}

.question-card {
    min-height: 70vh;
}