.Sensors {
    margin: 10px;
}

img {
    margin: 5px;
}

.MultiRaeTop {
    background-image: url("../img/multirae_top_noSensors_01.png");
    background-size: 30em;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}