:root {
  background: rgb(2,4,7);
  background: linear-gradient(0deg, rgba(2,4,7,1) 0%, rgba(19,36,59,1) 100%);
  /* background-color: #14273e; */
  /* background-color: #2E5A90; */

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,4,7);
  background: linear-gradient(0deg, rgba(2,4,7,1) 0%, rgba(19,36,59,1) 100%);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tag {
  text-align: center;
}



.slick-slide img {
  margin: auto;
  width: 50%;
  height: 50%;
  grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr;
}